In [2]:
# Pandas
import pandas as pd
import numpy as np

In [ ]:
# to print all columns name

# df.columns
# iist(df.columns)

In [ ]:
# if we select one particular row or column its called a series

# df["Name"]---type series--with index
# list(df["Name"])---will remove indexes

In [ ]:
# selecting multiple columns---pass a list
# df[["Name","Age"]]

In [ ]:
# convert pandas to csv

# df2.to_csv("Titanic_data.csv")---it also stores index
# if we dont want index then 
# df2.to_csv("Titanic_data.csv",index=false)

In [ ]:
# if from a page we only want tabular data 

# import lxml
# df=pd.read_html(url.html)
# result dtype will be a list

Q1

In [4]:
dict1={
    "numbers":[4,8,15,16,23,42]
}

df=pd.DataFrame(dict1)
df
type(df["numbers"])

pandas.core.series.Series

Q2

Q3

In [5]:
dict2={
    "Name":["Alice","Bob","Claire"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
}

df1=pd.DataFrame(dict2)
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4

In [7]:
# When we select only a single column its a series and when we select multiple columns its a list

print(type(df1["Name"]))
print(type(df1[["Name"]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

Q5

In [8]:
# common functions are 
# head---to print values from beginning
# tail---to print values from end
# isnull()--to print null values

print(df1.head(1))
print(df1.tail(1))
print(df1.isnull())

    Name  Age  Gender
0  Alice   25  Female
     Name  Age  Gender
2  Claire   27  Female
    Name    Age  Gender
0  False  False   False
1  False  False   False
2  False  False   False

Q6

In [ ]:
# Series – 1D labeled homogeneous array, sizeimmutable
# Data Frames – 2D labeled, size-mutable tabular structure with heterogenic columns
# Panel – 3D labeled size mutable array

Q7

In [9]:
dict2={
    "Name":["Alice","Bob","Claire"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"],
    "Id":[1,2,3]
}

df2=pd.DataFrame(dict2)
df2

     Name  Age  Gender  Id
0   Alice   25  Female   1
1     Bob   30    Male   2
2  Claire   27  Female   3